src/parser/Lexer.java
src/parser/Parser.java
src/parser/Parser_sym.java
*~
**/*.class

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/


#project files
temp/
/*.s
